<!DOCTYPE html>
<html lang="es">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="static/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Título</title>
    <!--swet alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</head>

<body>
    {% block content %} {% endblock %}

    <script src="sweetalert2.all.min.js"></script>
    <script src="static/alertas/alert.js"></script>


    <script src="static/bootstrap-4.5.0-dist/jquery-3.5.1.slim.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/popper.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>