{% extends "Menu-Bar.html" %}
{% block content %}
{{ super() }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb col-6 col-md-3 mt-1 ml-2">
        <li class="breadcrumb-item"><a href="/">Menú principal</a></li>
        <li class="breadcrumb-item"><a href="caja">Caja</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proformas</li>
    </ol>
</nav>

<div class="container-fluid">
    <h1 class="text-center mb-3">Centro de proformas</h1>
    <div class="row">
        <div class="col-6 border-right">

            <!-- Se abre un modal para añadir -->
            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-whatever="Barra"
                data-target="#modal-cliente">
                Añadir Barra
            </button>
            <h3 class="border-bottom"><span class="badge badge-dark">BARRA</span></h3>

            <div style="Overflow-x:hidden; Overflow-y:auto; height: 470px;">
                <div class="row">

                    <div class="col-6 mt-1">
                        <div class="card">
                            <div class="card-header text-white bg-info">
                                Proforma <span class="badge badge-dark">#3</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title border-bottom">
                                    <span class="badge badge-secondary">C:</span>
                                    El de camisa Azul
                                </h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="administrar-proforma?id=100" class="btn btn-info">Ingresar</a>
                            </div>
                            <div class="card-footer text-muted">
                                Total a pagar ¢ 52,000.00
                            </div>
                        </div>
                    </div>

                    <div class="col-6 mt-1">
                        <div class="card">
                            <div class="card-header text-white bg-info">
                                Proforma <span class="badge badge-dark">#3</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title border-bottom">
                                    <span class="badge badge-secondary">C:</span>
                                    La muchacha de blusa verde
                                </h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="administrar-proforma?id=101" class="btn btn-info">Ingresar</a>
                            </div>
                            <div class="card-footer text-muted">
                                Total a pagar ¢ 52,000.00
                            </div>
                        </div>
                    </div>

                    <div class="col-6 mt-1">
                        <div class="card">
                            <div class="card-header text-white bg-info">
                                Proforma <span class="badge badge-dark">#3</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title border-bottom">
                                    <span class="badge badge-secondary">C:</span>
                                    El señor de sombrero
                                </h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="administrar-proforma?id=103" class="btn btn-info">Ingresar</a>
                            </div>
                            <div class="card-footer text-muted">
                                Total a pagar ¢ 52,000.00
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-6 border-left">

            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-whatever="Mesa"
                data-target="#modal-cliente">
                Añadir Mesa
            </button>
            <h3 class="border-bottom"><span class="badge badge-dark">MESAS</span></h3>

            <div style="Overflow-x:hidden; Overflow-y:auto; height: 470px;">
                <div class="row">
                    <div class="col-6 mt-1">
                        <div class="card">
                            <div class="card-header text-white bg-success">
                                Proforma <span class="badge badge-dark">#3</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title border-bottom">
                                    <span class="badge badge-secondary">C:</span>
                                    El de camisa Azul
                                </h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="administrar-proforma?id=110" class="btn btn-success">Ingresar</a>
                            </div>
                            <div class="card-footer text-muted">
                                Total a pagar ¢ 52,000.00
                            </div>
                        </div>
                    </div>

                    <div class="col-6 mt-1">
                        <div class="card">
                            <div class="card-header text-white bg-success">
                                Proforma <span class="badge badge-dark">#3</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title border-bottom">
                                    <span class="badge badge-secondary">C:</span>
                                    El de camisa Azul
                                </h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="administrar-proforma?id=104" class="btn btn-success">Ingresar</a>
                            </div>
                            <div class="card-footer text-muted">
                                Total a pagar ¢ 52,000.00
                            </div>
                        </div>
                    </div>

                    <div class="col-6 mt-1">
                        <div class="card">
                            <div class="card-header text-white bg-success">
                                Proforma <span class="badge badge-dark">#3</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title border-bottom">
                                    <span class="badge badge-secondary">C:</span>
                                    El de camisa Azul
                                </h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="administrar-proforma?id=107" class="btn btn-success">Ingresar</a>
                            </div>
                            <div class="card-footer text-muted">
                                Total a pagar ¢ 52,000.00
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-1">
                        <div class="card">
                            <div class="card-header text-white bg-success">
                                Proforma <span class="badge badge-dark">#3</span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title border-bottom">
                                    <span class="badge badge-secondary">C:</span>
                                    El de camisa Azul
                                </h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="administrar-proforma?id=109" class="btn btn-success">Ingresar</a>
                            </div>
                            <div class="card-footer text-muted">
                                Total a pagar ¢ 52,000.00
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="modal-cliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Lugar de atención:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Guardar Proforma</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#modal-cliente').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('Nuevo cliente en ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
    </script>

    {% endblock %}