{% extends "Base.html" %} {% block content %} {{ super() }}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb col-6 col-md-4 mt-5 ml-2">
            <li class="breadcrumb-item"><a href="/">Menú principal</a></li>
            <li class="breadcrumb-item"><a href="caja">Caja</a></li>
            <li class="breadcrumb-item active" aria-current="page">Abrir Caja</li>
        </ol>
    </nav>

    <h1 class="text-center border-bottom">Abrir Caja</h1>
    <div class="row">
        <div class="col-12">
            <form action="/nuevaCaja" method="POST">
                <h2>Opciones principales</h2>
                <div class="form-row border-bottom">
                    <div class="col-12 col-md-4 mx-auto">

                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Número de caja</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="157" readonly>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Usuario</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="Lady Ejemplo" readonly>
                        </div>

                    </div>
                    <div class="col-12 col-md-4 mx-auto">

                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Fecha y hora de
                                    apertura</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="Junio 2, 2020" readonly>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Valor del dólar $</span>
                            </div>
                            <input type="number" name="ValorDolar" id="valorDolar" oninput="TotalCaja()" class="form-control" placeholder="0.0" aria-describedby="btnCambio" required>

                        </div>
                    </div>
                </div>

                <h2>Preparar Fondo de Caja</h2>
                <div class="form-group row">
                    <div class="col-6 col-md-4 mx-auto">
                        <h3>Dinero en colones (¢)</h3>
                        <table class="table table-sm table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">¢ 5</th>
                                    <td>
                                        <input type="number" id="v5c" oninput="sumaColones()" name="v5c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 10</th>
                                    <td>
                                        <input type="number" id="v10c" oninput="sumaColones()" name="v10c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 25</th>
                                    <td>
                                        <input type="number" id="v25c" oninput="sumaColones()" name="v25c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 50</th>
                                    <td>
                                        <input type="number" id="v50c" oninput="sumaColones()" name="v50c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 100</th>
                                    <td>
                                        <input type="number" id="v100c" oninput="sumaColones()" name="v100c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 500</th>
                                    <td>
                                        <input type="number" id="v500c" oninput="sumaColones()" name="v500c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 1000</th>
                                    <td>
                                        <input type="number" id="v1c" oninput="sumaColones()" name="v1000c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 2000</th>
                                    <td>
                                        <input type="number" id="v2c" oninput="sumaColones()" name="v2000c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 5000</th>
                                    <td>
                                        <input type="number" id="v5000c" oninput="sumaColones()" name="v5000c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 10000</th>
                                    <td>
                                        <input type="number" id="v10000c" oninput="sumaColones()" name="v10000c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 20000</th>
                                    <td>
                                        <input type="number" id="v20c" oninput="sumaColones()" name="v20000c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">¢ 50000</th>
                                    <td>
                                        <input type="number" id="v50000c" oninput="sumaColones()" name="v50000c" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6 col-md-4 mx-auto">
                        <h3>Dinero en dólares ($)</h3>
                        <table class="table table-sm table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">$ 0.01</th>
                                    <td>
                                        <input type="number" id="v0.01d" oninput="sumaDolares()" name="v0.01d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 0.05</th>
                                    <td>
                                        <input type="number" id="v0.05d" oninput="sumaDolares()" name="v0.05d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 0.10</th>
                                    <td>
                                        <input type="number" id="v0.10d" oninput="sumaDolares()" name="v0.10d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 0.25</th>
                                    <td>
                                        <input type="number" id="v0.25d" oninput="sumaDolares()" name="v0.25d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 0.50</th>
                                    <td>
                                        <input type="number" id="v0.50d" oninput="sumaDolares()" name="v0.50d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 1</th>
                                    <td>
                                        <input type="number" id="v1d" oninput="sumaDolares()" name="v1d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 5</th>
                                    <td>
                                        <input type="number" id="v5d" oninput="sumaDolares()" name="v5d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 10</th>
                                    <td>
                                        <input type="number" id="v10d" oninput="sumaDolares()" name="v10d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 20</th>
                                    <td>
                                        <input type="number" id="v20d" oninput="sumaDolares()" name="v20d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 50</th>
                                    <td>
                                        <input type="number" id="v50d" oninput="sumaDolares()" name="v50d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">$ 100</th>
                                    <td>
                                        <input type="number" id="v100d" oninput="sumaDolares()" name="v100d" class="form-control form-control-sm col-12 col-sm-6 col-md-4" placeholder="0" value="0" min="0">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group row border-bottom m-2">
                    <div class="col-5 col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="totalColones">Total en ¢</span>
                            </div>
                            <input id="sumaTotalColones" oninput="TotalCaja()" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="0.00" readonly>
                        </div>
                    </div>
                    <div class="col-7 col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Total de la caja en
                                    ¢</span>
                            </div>
                            <input type="text" name="MontoTotalCaja" id="montoTotalAbrirCaja" oninput="TotalCaja()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="0.00" readonly>
                        </div>
                    </div>
                    <div class="col-5 col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Total en $</span>
                            </div>
                            <input type="text" id="TotalDolares" oninput="TotalCaja()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="0.00" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group row m-3">
                    <div class="col-12 col-md-4 mx-auto">
                        <button class="btn btn-success btn-lg" type="submit" value="" name="btn">Abrir Caja</button>
                        <a href="/caja" class="btn btn-danger btn-lg">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script src="static/caja/abrirCaja.js"> </script>


</div>
{% endblock %}