{% extends "Menu-Bar.html" %} {% block content %} {{ super() }}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb col-6 col-md-3 mt-5 ml-2">
            <li class="breadcrumb-item"><a href="/MenuPrincipal">Menú principal</a></li>
            <li class="breadcrumb-item active" aria-current="page">Caja</li>
        </ol>
    </nav>
    <h1>Opciones de Caja</h1>

    <div class="row">
        <div class="col-12 col-md-5 mx-auto">
            <div class="card mx-auto" style="width: 23rem; margin: 5px;">
                <div class="row no-gutters">
                    <img src="static/img/abrirycerrar-caja.png" alt="IMAGEN" class="col-5 card-img p-3">
                    <div class="col-7 card-body">
                        <h5 class="card-title"> Abrir Caja </h5>
                        <button onclick="verificarCaja(abrirCaja)" type="button" class="btn btn-primary">Acceder</button>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 23rem; margin: 5px;">
                <div class="row no-gutters">
                    <img src="static/img/abrirycerrar-caja.png" alt="IMAGEN" class="col-5 card-img p-3">
                    <div class="col-7 card-body">
                        <h5 class="card-title"> Cerrar Caja </h5>
                        <button onclick="verificarCaja(cerrarCaja)" type="button" class="btn btn-primary">Acceder</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 mx-auto">
            <div class="card mx-auto" style="width: 23rem; margin: 5px;">
                <div class="row no-gutters">
                    <img src="static/img/proforma-icon.png" class="col-5 card-img p-3" alt="IMAGEN">
                    <div class="col-7 card-body">
                        <h5 class="card-title"> Proformas </h5>
                        <a href="/proformas" class="btn btn-primary">Acceder</a>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 23rem; margin: 5px;">
                <div class="row no-gutters">
                    <img src="static/img/proveedor-facturar.png" class="col-5 card-img p-3" alt="IMAGEN">
                    <div class="col-7 card-body">
                        <h5 class="card-title"> Facturar Proveedores </h5>
                        <a href="#" class="btn btn-primary">Acceder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    /*
        Se utiliza para verificar la caja y luego ejecutar la función que reciba por parámetro
    */
    async function verificarCaja(funcEjecutar) {

        let response = await fetch('/verificar-caja', null);

        if (response.ok) { // si el estado de la respuesta es 200

            let json = await response.json();
            console.log('Valor extraído, estado:', response.status);
            funcEjecutar(json['estado']);

        } else if (response.status == 500) {
            swal("Oops", "Algo anda mal D: \n¡Revisa el servidor!" + response.status, "error");
        } else {
            console.log('Advertencia, algo no anda bien pero funciona.');
        }
    }

    function abrirCaja(estado) {
        'use strict';
        /*
            Se llama para abrir la caja, si está cerrada procede a abrir la caja, 
            si está abierta pregunta si desea cerrarla
        */
        if (!estado) {

            location.href = "/abrir-caja";

        } else {

            swal({
                title: "¿La Caja ya está abierta, desea cerrarla?",
                text: "Recuerda que no deberías cerrar la caja si aún no terminas las ventas.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((desicion) => {
                if (desicion) {
                    /*swal("Se te enviará a la gráfica para abrir la caja", {
                        icon: "success",
                    });*/
                    location.href = "/cerrar-caja";
                }
            });
        }

    }

    function cerrarCaja(estado) {
        'use strict';
        /*
            Se llama para cerrar la caja, si está abierta procede a cerrarla, 
            si está cerrada pregunta si desea abrirla
        */
        if (estado) {

            location.href = "/cerrar-caja";

        } else {
            swal({
                title: "¿La Caja ya está cerrada, desea abrirla?",
                text: "-",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((desicion) => {
                if (desicion) {
                    /*swal("Se te enviará a la gráfica para abrir la caja", {
                        icon: "success",
                    });*/
                    location.href = "/abrir-caja";
                }
            });
        }
    }
</script>

{% endblock %}
