<!DOCTYPE html>
<html lang="es">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="static/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Título</title>

    <!--fuentes del modo  oscuro .. descargar el archivo de fontawesomw de forma local -->
    <link rel="stylesheet" href="static/darkmodeCCS/estilos.css">
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

</head>

<body>
    {% block content %} {% endblock %}

    <script src="static/darkmodeJS/main.js"></script>
    <script src="static/sweetalert.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/popper.min.js"></script>
    <script src="static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>

</html>