{% extends "Menu-Bar.html" %} {% block content %} {{ super() }}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb col-10 col-md-3  mt-5 ml-2">
            <li class="breadcrumb-item"><a href="/">Menú principal</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inventario</li>
        </ol>
    </nav>

    <h1 class="text-center m-3">Categorías del Inventario</h1>
    <div class="row">

        <div class="col-12 mb-2 col-md-3 mx-auto">
            <!-- Botón de Nuevo y Campos Buscar -->
            <a href="/registrar-categoria" class="btn btn-success">Registrar Categoría</a>
        </div>

        <div class="col-12 col-md-9">
            <div class="form-group mb-3">
                <form action="/searh" method="POST">
                    <div class="form-row">
                        <div class="col-8 col-md-6">
                            <input name="consulta" type="text" class="form-control" placeholder="Buscar categoría...">
                        </div>
                        <div class="col-4 col-md-4">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                    <!-- opciones de búsqueda -->
                    <div class="form-row m-1">
                        <div class="form-check form-check-inline">
                            <small>Buscar por:</small>
                        </div>
                        <div class="form-check-inline custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="id" value="id" name="id">
                            <label class="custom-control-label" for="id">ID</label>
                        </div>
                        <div class="form-check-inline custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" id="nombre" value="nombre"
                                name="nombre">
                            <label class="custom-control-label" for="nombre">Nombre</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        {% for categoria in valores %}
        <div class="col-12 col-md-3">
            <div class="card text-center m-2 shadow-lg">
                <div class="card-header">
                    <strong>{{categoria.1}}</strong>
                </div>
                <div class="row p-3">
                    <div class="col-6">
                        <a href="modificar-categoria?idcategoria={{categoria.0}}">
                            <svg class="bi bi-pencil-square" width="30" height="30" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                                </path>
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                                </path>
                            </svg>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="cambiar-estado?id={{categoria.0}}">
                            <svg class="bi bi-trash" width="30" height="30" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        {% if categoria.4 == None %}
                            <img src="static/img/categorias/coffee-icon.png" alt="icono categoria" class="img-thumbnail">
                        {% else %}
                            <img src="static/img/categorias/{{categoria.4}}" alt="icono categoria" class="img-thumbnail">
                        {% endif %}
                        <p>Estado: <strong>{{categoria.3}}</strong></p>
                        <a href="/productos?idcategoria={{categoria.0}}" class="btn btn-primary m-2">Ver productos</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}